{%extends 'Base.html'%}

{%block contenidobipolar%}
<!-- ======= mensaje logout ======= -->

<body>
    <section id=" Nuevos estudiantes" class="contact py-5">
        <div class="container">
            <div class="section-title text-center">
                <h2>¡Hasta la próxima!</h2><br>                
                <p style="text-align: left; margin-bottom: 20px;">Te has desconectado de nuestra comunidad mágica. Estaremos aquí esperando tu próxima visita para continuar explorando juntos el fascinante mundo de la magia. ¡Nos vemos pronto!</p><br>
                <p style="text-align: left; margin-bottom: 20px;">¡Que tus días estén llenos de magia y aventuras!</p><br>
                
                
            </div>
</body>
<br>

{%endblock contenidobipolar%}