{%extends 'Base.html'%}

{%block contenidobipolar%}
<!-- ======= Nuevos estudiantes ======= -->

<body>
    <section id=" Nuevos estudiantes" class="contact py-5">
        <div class="container">
            <div class="section-title text-center">
                <h2>¡Registro Exitoso!</h2><br>                
                <p style="text-align: left; margin-bottom: 20px;">¡Felicidades! Te has unido a nuestra comunidad mágica. Estamos encantados de darte la bienvenida a nuestra escuela de magia, donde la aventura y el aprendizaje te esperan en cada rincón. Prepárate para explorar nuevos conocimientos, dominar las artes mágicas y formar parte de una comunidad apasionada por la magia.</p><br>
                <p style="text-align: left; margin-bottom: 20px;">¡Que tu viaje mágico comience ahora!</p><br>
                
                
            </div>
</body>
<br>

{%endblock contenidobipolar%}