{%extends 'Base.html'%}

{%block contenidobipolar%}

<!-- ======= Team Section ======= -->
{% load static %}
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Nuestras Casas</h2>
          <p>En nuestra escuela de magia, hemos creado un entorno donde la imaginación, la creatividad y el aprendizaje mágico se encuentran para ofrecer a los niños una experiencia única y enriquecedora. Al igual que en el mundo de Harry Potter, nuestra escuela está organizada en cuatro casas, cada una con sus propias características y valores. Sin embargo, en honor a nuestra rica herencia cultural, hemos dado vida a nuevas historias y fundadores que reflejan la diversidad y la historia de Latinoamérica. Permítanos presentarle a las casas y sus fundadores:</p>
        </div>

        
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Hufflepuff</a></h4>
            <p class="description">Hufflepuff valora la lealtad, la paciencia, la honestidad y el trabajo duro. Los miembros de esta casa son conocidos por su dedicación, su amabilidad y su fuerte sentido de la justicia.Amalia del Valle, una sabia hechicera de la región andina, fue famosa por su trabajo incansable en la comunidad mágica, promoviendo la igualdad y la justicia. Conocida por su bondad y su lealtad, fundó la casa Hufflepuff para aquellos que creen en el poder del trabajo en equipo y la justicia.</p>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member">
              <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Hernando de León</h4>
                  <span>Gryffindor</span>                  
                </div>
              </div>
            </div>
          </div>

         <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Hufflepuff</a></h4>
            <p class="description">Hufflepuff valora la lealtad, la paciencia, la honestidad y el trabajo duro. Los miembros de esta casa son conocidos por su dedicación, su amabilidad y su fuerte sentido de la justicia.Amalia del Valle, una sabia hechicera de la región andina, fue famosa por su trabajo incansable en la comunidad mágica, promoviendo la igualdad y la justicia. Conocida por su bondad y su lealtad, fundó la casa Hufflepuff para aquellos que creen en el poder del trabajo en equipo y la justicia.</p>
          </div>
        
          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
            <div class="member">
              <img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amalia del Valle</h4>
                  <span>Hufflepuff</span>           
                </div>
              </div>
            </div>    
          </div>
          

           <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Ravenclaw</a></h4>
            <p class="description">Ravenclaw valora la inteligencia, la creatividad, el aprendizaje y la sabiduría. Los miembros de esta casa son conocidos por su amor al conocimiento y su habilidad para pensar fuera de lo común.Ignacio Quispe, un brillante mago y erudito de la región altiplánica, dedicó su vida al estudio de la magia y la ciencia. Su intelecto y su pasión por el conocimiento inspiraron la fundación de la casa Ravenclaw, donde se valoran la mente curiosa y la búsqueda interminable del saber.</p>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Ignacio Quispe</h4>
                  <span>Ravenclaw</span>            
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href=""> Slytherin</a></h4>
            <p class="description">Slytherin valora la ambición, la astucia, la determinación y el liderazgo. Los miembros de esta casa son conocidos por su ingenio y su capacidad para alcanzar sus metas, sin importar los obstáculos.Catalina Montoya, una hechicera astuta y carismática de las tierras caribeñas, fue conocida por su liderazgo y su capacidad para superar cualquier obstáculo. Con una ambición inquebrantable y un talento para la estrategia, fundó la casa Slytherin para aquellos que aspiran a grandes logros y están dispuestos a trabajar duro para alcanzarlos.</p>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
            <div class="member">
              <img src="{% static 'assets/img/team/team-4.jpg' %}"class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4> Catalina Montoya</h4>
                  <span>Slytherin</span>                  
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

 {%endblock contenidobipolar%}