
{%extends 'Base.html'%}

{%block contenidobipolar%}
<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contactanos : ¡Tus preguntas y comentarios son esenciales para nosotros!</h2>
          
          <p style="text-align: right; margin-bottom: 20px;">En Luminara, estamos siempre dispuestos a escuchar y ayudar. Ya sea que tengas preguntas sobre nuestro proceso de admisión, necesites más información sobre nuestros programas mágicos, o simplemente quieras saber más sobre la vida diaria en el corazón del Bosque Encantado, estamos aquí para guiarte.</p>
          
          <p style="text-align: right; margin-bottom: 20px;">No dudes en escribirnos o llamarnos, nuestro equipo mágico está listo para atender todas tus inquietudes y asegurarse de que recibas toda la ayuda que necesitas. Nos comprometemos a responder a tus consultas lo más rápido posible, con toda la sabiduría y la magia que caracteriza a nuestra escuela.</p>
          
          <p style="text-align: right; margin-bottom: 20px;">Completa el siguiente formulario o utiliza la información de contacto a continuación para comunicarte con nosotros. ¡Esperamos con ansias escuchar de ti y ayudarte en tu camino hacia la magia!</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Dirección</h3>
              <address>Camino de los Cedros Mágicos, Kilómetro 7
                Bosque de las Maravillas, Sector de las Hadas
                Codex 12345
                Pueblo Encantado, Provincia de la Magia
                Latinoamérica</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Teléfono</h3>
              <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">MagicHappends@luminara.com</a></p>
            </div>
          </div>

        </div>

        <section id="contact" class="contact">
    <div class="container">        

        <form action="{% url 'Contacto' %}" method="post">
            {% csrf_token %}
            
            {{ formulariocontacto.nombre }}<br>
            {{ formulariocontacto.email }}<br>
            {{ formulariocontacto.asunto }}<br>
            {{ formulariocontacto.mensaje }}<br>
            
            <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
        </form>
    </div>
</section>

      </div>
    </section><!-- End Contact Section -->

{%endblock contenidobipolar%}