{% extends 'Base.html' %}

{% block contenidobipolar %}

<!-- ======= Editar profesor ======= -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Profesor</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Editar Profesor</h2>
        <form action="{% url 'editar_profesor' id %}" method="post">
            {% csrf_token %}
            {{ formularioprofesor.as_p }}
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
    </div>
</body>
</html>

{% endblock contenidobipolar %}