{% extends 'Base.html' %}

{% block contenidobipolar %}
<!-- ======= Eliminar grupo======= -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Eliminación</title>
</head>
<body>
<div class="container mt-4">
    <h2>Eliminar Grupo</h2>
    <p>¿Estás seguro de que deseas eliminar el grupo "{{ grupo.nombre }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
        <a href="{% url 'grupos_y_cursos_view' %}" class="btn btn-secondary">Cancelar</a>
    </form>

{% if messages %}
        <div class="mt-4">
            <ul class="messages">
                {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
 <br>   
</body>
</html>
{% endblock contenidobipolar %}