{%extends 'Base.html'%}

 {%block contenidobipolar%}
 <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title">
          <h2>Por qué Elegir Luminara</h2>
          <p>Bienvenido(a) a la Escuela Mágica de Bosque Encantado, donde la magia y la naturaleza se entrelazan para ofrecer una educación mágica y enriquecedora como ninguna otra. Descubre por qué nuestra escuela es el lugar ideal para que tu hijo(a) desarrolle sus habilidades mágicas y crezca como un mago o bruja completo(a).</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>Experiencia Mágica en la Naturaleza</h4>
              <p>Sumérgete en un entorno educativo único en el corazón del Bosque Encantado, donde cada rincón está lleno de magia y misterio. Nuestra escuela está diseñada para inspirar y educar a través de la interacción directa con la naturaleza, cultivando un profundo respeto por el medio ambiente mientras se aprenden las artes mágicas.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>Enfoque en el Desarrollo Integral</h4>
              <p>No solo enseñamos hechizos y encantamientos, en Luminara, fomentamos el crecimiento personal y emocional de nuestros estudiantes. Con un currículo que integra valores como la cooperación, el respeto y la creatividad, nuestros estudiantes no solo adquieren habilidades mágicas, sino que también se convierten en individuos éticos y responsables.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4> Comunidad Mágica y Apoyo Personalizado</h4>
              <p>Nuestra comunidad escolar es una familia donde cada estudiante recibe atención personalizada y apoyo tanto académico como emocional. Desde clases pequeñas hasta programas extracurriculares enriquecedores y eventos mágicos, cada estudiante encuentra su lugar para brillar y crecer en Luminara.</p>
            </div>
          </div><br>
        <div class="finalwhyus">
          <p>Descubre cómo podemos convertir la curiosidad de tu hijo(a) en habilidades mágicas que durarán toda la vida. Únete a nosotros en la aventura de descubrir el potencial mágico dentro de cada uno.</p>
        </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->
 
 
 {%endblock contenidobipolar%}

