{%extends 'Base.html'%}

{%block contenidobipolar%}

<!-- ======= Postulate ======= -->

<body>
    <section id="Postulantes" class="contact py-5">
        <div class="container">
            <div class="section-title text-center">
                <h2>Gracias por tu Contacto</h2><br>
                <p class="lead">¡Gracias por ponerte en contacto con nosotros en Luminara!</p><br>
                <p style="text-align: left; margin-bottom: 20px;">Estamos emocionados de recibir tu mensaje. Nuestro equipo se encuentra revisando tu consulta y te brindaremos una respuesta muy pronto. Puedes contactarnos a través de nuestros métodos mágicos, ya sea por mensajero en escoba, por correo electrónico, mediante lechuza o cualquier otro método que encuentres mágicamente conveniente.</p><br>
                <p style="text-align: left; margin-bottom: 20px;">Agradecemos tu paciencia y estamos aquí para ayudarte en todo lo que necesites en tu camino hacia la magia.</p><br>
                <p style="text-align: left; margin-bottom: 20px;">¡Que tengas un día lleno de maravillas!</p>
                <p style="text-align: left; margin-bottom: 20px;">Atentamente,</p>
                <p style="text-align: left; margin-bottom: 20px;">El equipo de Luminara</p>
                
            </div>

{%endblock contenidobipolar%}