{%extends 'Base.html'%}

{%block contenidobipolar%}
<!-- ======= Nuevo curso ======= -->

<body>
    <section id=" Nuevos estudiantes" class="contact py-5">
        <div class="container">
            <div class="section-title text-center">
                <h2>Nuevo Curso creado</h2><br>
                <p class="lead">¡Tu nuevo curso a sido creado y sera sumado a la base de información !</p><br>
                <p style="text-align: left; margin-bottom: 20px;">Felicidades, has creado un nuevo curso en nuestra escuela de magia. Este curso se suma a nuestra amplia oferta educativa, proporcionando a nuestros estudiantes más oportunidades para explorar y dominar las artes mágicas. ¡Esperamos que este curso sea de gran beneficio para nuestra comunidad mágica!</p><br>
                <p style="text-align: left; margin-bottom: 20px;">¡Que el conocimiento mágico siga expandiéndose y enriqueciendo nuestras vidas!</p><br>
                
                
            </div>
</body>
<br>

{%endblock contenidobipolar%}