{%extends 'Base.html'%}

{%block contenidobipolar%}

<!-- ======= Postulate ======= -->

<body>
    <section id="Postulantes" class="contact py-5">
        <div class="container">
            <div class="section-title text-center">
                <h2>Gracias por tu Postulación</h2><br>
                <p class="lead">¡Gracias por postularte para unirte a nuestro equipo en la Escuela Mágica Luminara!</p><br>
                <p style="text-align: left; margin-bottom: 20px;">Valoramos profundamente tu interés en formar parte de nuestra comunidad educativa y en contribuir a la formación mágica de nuestros estudiantes. Tu postulación ha sido recibida y está siendo cuidadosamente revisada por nuestro equipo de selección.</p><br>
                <p style="text-align: left; margin-bottom: 20px;">Entendemos la importancia de tu tiempo y compromiso, por lo que te mantendremos informado(a) sobre el estado de tu aplicación a la brevedad posible. Mientras tanto, si tienes alguna pregunta o necesitas más información, no dudes en ponerte en contacto con nosotros a través del Contactanos.</p><br>
                <p style="text-align: left; margin-bottom: 20px;">Apreciamos tu paciencia y entusiasmo por unirte a nosotros en esta mágica aventura educativa. ¡Esperamos poder conocerte pronto y explorar juntos las maravillosas posibilidades que la magia tiene para ofrecer!</p>
                
            </div>
</body>

{%endblock contenidobipolar%}