{%extends 'Base.html'%}

{%block contenidobipolar%}
<!-- ======= mensaje grupo creado ======= -->

<body>
    <section id=" Nuevos estudiantes" class="contact py-5">
        <div class="container">
            <div class="section-title text-center">
                <h2>¡Nuevo grupo creado!</h2><br>                
                <p style="text-align: left; margin-bottom: 20px;">Felicitaciones, has creado un nuevo grupo en nuestra escuela de magia. Este grupo permitirá a nuestros estudiantes avanzar juntos en su viaje mágico, explorando y aprendiendo en comunidad. Estamos emocionados por ver cómo este grupo crecerá y se desarrollará en sus estudios mágicos.</p><br>
                <p style="text-align: left; margin-bottom: 20px;">¡Que la camaradería y el aprendizaje mágico prosperen en este nuevo grupo!</p><br>
                
                
            </div>
</body>
<br>

{%endblock contenidobipolar%}