{%extends 'Base.html'%}

{%block contenidobipolar%}

<!-- Page Title -->
{% load static %}
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Conoce a Nuestros Profesores</h1>
              <p class="mb-0">En la Escuela Luminara, estamos orgullosos de contar con un equipo de profesores excepcionales, cada uno con un profundo conocimiento y una pasión inigualable por la enseñanza mágica. Nuestros profesores no solo son expertos en sus respectivas áreas, sino también mentores dedicados que guían a nuestros estudiantes en su viaje de descubrimiento y aprendizaje.</p>
              <br>
               <p class="mb-0">Cada miembro de nuestro equipo aporta una rica herencia cultural y una vasta experiencia en el arte de la magia, asegurando que nuestros estudiantes reciban una educación integral y enriquecedora. Desde los misterios de la astronomía mágica hasta los secretos de las criaturas mágicas, nuestros profesores están aquí para inspirar y nutrir el potencial mágico de cada niño.</p>
              <br>
              <p class="mb-0">¡Explora los perfiles de nuestros talentosos profesores y descubre las maravillas que te esperan en Luminara!</p>

            </div>
          </div>
        </div>
      </div>
    </div><!-- End Page Title -->

    <!-- Trainers Section -->
    <style>
  .member-img img {
    width: 100%;
    height: 250px; /* Establece una altura fija */
    object-fit: cover; /* Hace que la imagen se ajuste al contenedor sin distorsionarse */
  }
</style>

<section id="trainers" class="section trainers">
  <div class="container">

    <div class="row gy-5">
      <!-- Fila superior -->
      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
        <div class="member-img">
          <img src="{% static 'assets/img/profesores/pro1.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="member-info text-center">
          <h4>Elena de la Selva</h4>
          <span class="">Herbología Mágica</span>
          <p>La profesora Elena de la Selva es una experta en plantas mágicas y sus propiedades curativas. Nacida y criada en el corazón de la Amazonía, Elena ha dedicado su vida a estudiar las plantas y a enseñar a los jóvenes magos cómo cultivar y utilizar estas maravillas naturales. Con su amplio conocimiento y su pasión por la botánica, inspira a sus estudiantes a apreciar y cuidar el mundo natural.</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
        <div class="member-img">
          <img src="{% static 'assets/img/profesores/pro2.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="member-info text-center">
          <h4>Ignacio Luna</h4>
          <span class="">Astronomía Mágica</span>
          <p>El profesor Ignacio Luna es un astrónomo renombrado conocido por su habilidad para leer las estrellas y predecir eventos mágicos significativos. Con una herencia que combina sabiduría indígena y conocimientos astronómicos contemporáneos, Ignacio lleva a sus estudiantes en un viaje celestial, enseñándoles la influencia de los cuerpos celestes en la magia y la vida cotidiana.</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
        <div class="member-img">
          <img src="{% static 'assets/img/profesores/pro3.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="member-info text-center">
          <h4>Amalia Rivera</h4>
          <span class="">Pociones y Alquimia</span>
          <p>La profesora Amalia Rivera es una alquimista talentosa con una maestría en la creación de pociones. Originaria de los Andes, Amalia utiliza ingredientes locales y técnicas ancestrales en sus enseñanzas. Su enfoque práctico y su habilidad para simplificar conceptos complejos hacen que la alquimia sea accesible y emocionante para todos sus estudiantes.</p>
        </div>
      </div><!-- End Team Member -->
    </div>

    <div class="row gy-5">
      <!-- Fila inferior -->
      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
        <div class="member-img">
          <img src="{% static 'assets/img/profesores/pro4.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="member-info text-center">
          <h4>Mateo García</h4>
          <span class="">Hechizos y Encantamientos Básicos</span>
          <p>El profesor Mateo García es un mago dedicado con una pasión por enseñar los fundamentos de la magia. Con años de experiencia en la educación mágica, Mateo es conocido por su paciencia y su habilidad para hacer que cada lección sea divertida y interactiva. Su objetivo es asegurarse de que todos los estudiantes comprendan y dominen los hechizos básicos que son esenciales para su formación mágica.</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
        <div class="member-img">
          <img src="{% static 'assets/img/profesores/pro5.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="member-info text-center">
          <h4>Valeria Montoya</h4>
          <span class="">Transformaciones y Metamorfosis</span>
          <p>La profesora Valeria Montoya es una maestra en el arte de la transformación, conocida por su destreza en la metamorfosis mágica. Proveniente de una familia con una larga tradición en la magia, Valeria combina su conocimiento ancestral con técnicas modernas para enseñar a los estudiantes cómo cambiar la forma de objetos y seres vivos de manera segura y efectiva.</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
        <div class="member-img">
          <img src="{% static 'assets/img/profesores/pro6.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="member-info text-center">
          <h4>Rodrigo Fierro</h4>
          <span class="">Cuidado de Criaturas Mágicas</span>
          <p>El profesor Rodrigo Fierro es un experto en criaturas mágicas, habiendo pasado gran parte de su vida explorando y estudiando seres mágicos de toda Latinoamérica. Su amor por las criaturas y su conocimiento profundo de sus comportamientos y hábitats lo convierten en un profesor apasionado y carismático. Rodrigo enseña a sus estudiantes a cuidar y respetar a todas las criaturas mágicas, grandes y pequeñas.</p>
        </div>
      </div><!-- End Team Member -->
    </div>
  </div>
</section><!-- /Trainers Section -->
{%endblock contenidobipolar%}